{% extends 'base.html' %}

{% block title %}关系图谱{% endblock %}

{% block content %}
{#{% include 'ad.html' %}#}
{#{% url 'add' 4 5 %}#}
{#    <a href="{{ request.path }}?{{ request.GET.urlencode }}&delete=1">当前网址加参数 delete</a>#}
{#    {% for i in List %}#}
{#        {{ i }} {% if not forloop.last %},{% endif %}#}
{#    {% endfor %}#}
    <form id="formId" class="container" method='post'>
        {% csrf_token %}
{#        {{ form }}#}
        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}{{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <input type="submit" class="buttoncss" value="搜索">
        <input type="button" class="buttoncss" name="Submit" value="返回" onclick="javascript:history.back(1)" />
    </form>
{% endblock %}