{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<head>
	<meta charset="UTF-8">
	<title>Github Analytics</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'bootstrap/css/network.css' %}">
	<script type="text/javascript" src="{% static 'bootstrap/d3/d3.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/network.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/reporect.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/langpie.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/logic.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/rank.js' %}"></script>
</head>
<body>

<div id="nav">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<!--also could be navbar-static-top-->
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<!--分辨率隐藏按钮-->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<!--<img alt="Brand" src="...">-->
					<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="./"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页<span class="sr-only">(current)</span></a></li>
					<li><a href="#" onclick="devild(2)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Top10</a></li>
                    <li><a href="#" onclick="show_ranks(1)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>User ranking</a></li>
                    <li><a href="#" onclick="show_ranks(2)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>C ranking</a></li>
                    <li><a href="/form" ><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Search User</a></li>
                    <li><a href="/connect" ><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Connection</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="show_ranks(3)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Python ranking</a></li>
                            <li><a href="/repo" ><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Search repo</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method='get' action="/search/">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="searchUsername" name="searchKey" type="text" class="form-control" placeholder="输入关键字">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://ch710798472.github.io/blog/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>联系我们</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#" onclick="staticimages(1)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>count nation</a></li>-->
                            <li><a href="#" onclick="devild(1)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>最佳repo Top10</a></li>
                            <li><a href="#" onclick="devild(3)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>最佳lang Top10</a></li>
                            <li><a href="#" onclick="devild(4)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>兴趣图谱</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/nonconnect"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Non-search</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>

<!--introduce start-->
<div id="introduce" style="margin-top: 70px;margin-left: 20px">
    <p>
        网站功能简介：
        </br>－Top10: 最流行的仓库它们所使用的编程语言的分布图。
        </br>－User ranking: 中国区Github用户得分排名。
        </br>－C ranking: 中国区使用C语言得分用户排名。
        </br>－Search User/repo: 搜索Github上某一地区某一编程语言的特定用户（某一得星数的项目仓库）。
        </br>－Connection: 可视化某用户的仓库相关联的用户关系图谱。
        </br>－搜索: 搜索某用户在Github上的用户关系图谱(网状图)。
    </p>
</div>
<!--introduce end-->

<!--carousel start-->
<div id="myCarousel" class="carousel slide" style="margin-top: 10px;margin-left: 200px;margin-right: 200px">
   <!-- 轮播（Carousel）指标 -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>
   <!-- 轮播（Carousel）项目 -->
   <div class="carousel-inner">
      <div class="item active">
         <img src="{% static 'bootstrap/images/1.png' %}" alt="First slide">
         <div class="carousel-caption" style="color:#000000;">最受欢迎的编程语言Top 10</div>
      </div>
      <div class="item">
         <img src="{% static 'bootstrap/images/2.png' %}" alt="Second slide">
         <div class="carousel-caption" style="color:#000000;">最佳仓库Top 10</div>
      </div>
      <div class="item">
         <img src="{% static 'bootstrap/images/3.png' %}" alt="Third slide">
         <div class="carousel-caption" style="color:#000000;">兴趣图谱</div>
      </div>
   </div>
   <!-- 轮播（Carousel）导航 -->
   <a class="carousel-control left" href="#myCarousel"
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel"
      data-slide="next">&rsaquo;</a>
</div>
<!--carousel end-->

<!--images start-->
<div id="imagesDiv" style="margin-top:70px">
	<img id="insertImages" height="800" width="1000" style="display:none"/>
</div>
<!--images end-->

<!--rank start-->
<div id="china_rank"></div>
<!--rank end-->
<div id="userinfo" class="github-widget-user" data-user="yales2015" style="display:none "></div>

<!--footer start-->
<div id="foot" class="footer">
	<p>
Create By &nbsp;<a href="http://github.com/ch710798472" target="_blank" tilte= "ch">ch yy</a>&nbsp;@ 2015 in SuZhou.
</p>
</div>
<!--footer end-->

<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/asset/jquery-github-user-widget.js' %}"></script>
</body>
</html>
