{% extends 'base.html' %}

{% block title %}用户查询{% endblock %}

{% block content %}
{#{% include 'ad.html' %}#}
{#{% url 'add' 4 5 %}#}
{#    <a href="{{ request.path }}?{{ request.GET.urlencode }}&delete=1">当前网址加参数 delete</a>#}
{#    {% for i in List %}#}
{#        {{ i }} {% if not forloop.last %},{% endif %}#}
{#    {% endfor %}#}
    <form id="formId" class="container" method='post'>
        {% csrf_token %}
{#        {{ form }}#}
        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}{{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <input type="submit" class="buttoncss" value="搜索">
        <input type="button" class="buttoncss" name="Submit" value="返回" onclick="javascript:history.back(1)" />
    <p style="margin-top:50px;color:#F00">提示：我们的系统采用缓存加速模式，用的用户越多查询速度越快，如果您是第一个查询此类信息，请耐心等待。</p>
    </form>

{% endblock %}